extends layout

block content

  .container
    .row
      .col-md-2
      .col-md-8
        .center
          h1= title
          .embed-container
            iframe(src='https://www.youtube.com/embed/'+video[0].IdVideo, allowfullscreen='')
        br
        br
        if user
          if estFavori == 0
            a.btn.btn-primary.favoris(role='button')
              | Mettre en favoris&nbsp;
          if estAbonnee == 0
            a.btn.btn-danger.abonnee(role='button')
              | S'abonnee&nbsp;
        | &nbsp;Episode #{video[0].NumEpisode}
        | Categorie #{video[0].Categorie}
        br
        h2
          | Description
        | #{video[0].Description}

  if user
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.2/socket.io.js")
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js')
    script.
      var socket = io.connect('http://localhost:3001');

      socket.on('rm-fav', function(data) {
        $('.favoris').remove();
        socket.close();
      });
      socket.on('rm-abo', function(data) {
        $('.abonnee').remove();
        socket.close();
      });
      $('.favoris').click(function() {
        socket.emit('favoris', '#{video[0].IdVideo}', '#{user.Mdp}', '#{user.Login}');
      });
      $('.abonnee').click(function() {
        socket.emit('abonnee', '#{video[0].IdVideo}', '#{user.Mdp}', '#{user.Login}');
      });
